modules = ["nodejs-20", "web"]
run = "node backend/db/backend/db/backend/backend/backend/backend/backend/backend/backend/backend/backend/backend/backend/backend/backend/frontend/index.html"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "node backend/db/backend/db/backend/backend/backend/backend/backend/backend/backend/backend/backend/backend/backend/backend/backend/frontend/index.html"]
deploymentTarget = "autoscale"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Start Server"
author = 46847724
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node backend/server.js"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Full Stack Server"

[[workflows.workflow]]
name = "Full Stack Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node backend/server.js"
waitForPort = 5000

[[workflows.workflow]]
name = "Start Backend"
author = 47017255
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && node server.js"

[[ports]]
localPort = 5000
externalPort = 80

[agent]
expertMode = true
