modules = ["nodejs-20", "web"]
run = "node backend/db/backend/db/backend/backend/backend/backend/backend/backend/backend/backend/backend/server.js"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "node backend/db/backend/db/backend/backend/backend/backend/backend/backend/backend/backend/backend/server.js"]

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 46847724
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node backend/server.js"

[[ports]]
localPort = 5000
externalPort = 80
